.caja{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
	align-items: flex-end;
    border-style: solid;
    height: 300px;
    width: 400px;
 
    /*display: flex;*/
}

.item {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 30px;
    color: white;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.rojo{
	background-color:red;
}

.azul{
	background-color:blue;
}

.verde{
	background-color:green;
}